
body {
    font-family: 'Nunito Sans', sans-serif;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 15px;
    overflow: hidden;
}
/* ------------------ header ------------------- */
.header {
    font-family: 'Open Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 25px;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.header-logo {
    display: block;
    background-image: url(../images/Logo.svg);
    width: 176px;
    height: 56px;
    background-repeat: no-repeat;
    background-size: cover;
}
.header-item {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    flex-basis: 72.7%;
}
nav {
    position: relative;
    left: -50px; 
}
.header-nav {
    display: flex;
    list-style-type: none;
    padding-left: 0;
    gap: 46px;
}
.header-nav a {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    color: #443737;
    text-decoration: none;
    transition: 0.5s;
}
.header-nav a::after {
    content: '';
    width: 100%;
    height: 3px;
    background-color: transparent;
    border-radius: 1.5px;
    display: block;
}
.header-nav a:hover {
    color: #FFC725;
}
.header-nav li:nth-child(2) a::after {
    background-color: #FFC725;
}
/*---------------grocery basket------------------*/
.button {
    display: flex;
    align-items: center;
    background-color: transparent;
    border: none;
    padding: 0;
    gap: 10px;
    cursor: pointer;
}
.button-text {
    color: #443737;
    font-weight: 700;
    font-size: 15px;
}
.button-item {
    position: relative;
}
.button-count {
    font-weight: 700;
    font-size: 13px;
    color: white;
    background-color: #F37335;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    text-align: center;
    line-height: 1.3;
    position: absolute;
    top: 8.75px;
    left: 17px;
}
/* ----------------- top banner ------------------*/
.bg {
    text-align: center;
    color: white;
    background-image: url(../images/BG.jpg);
    background-size: cover;
    background-position: center center;
    padding: 142px 0; 
    margin-bottom: 140px;
    background-repeat: no-repeat;
}
.breadcrumbs {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
    gap: 7px;
}
.breadcrumbs a {
    color: #DEDEDE;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    text-decoration: none;
}
.breadcrumbs li:nth-child(2) a::before {
    content: '/';
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.title-menu {
    font-weight: 700;
    font-size: 79px;
    margin-top: 17px;
    margin-bottom: 21px;
}
.description {
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
/*------------------sale banner-------------------*/
.banner-box {
    background-image: url(../images/banner.jpg);
    width: 100%;
    background-size: cover;
    padding: 100px 0 124px 100px;
    box-sizing: border-box;
}
.banner-title {
    color: white;
    display: block;
    max-width: 160px;
    margin: 0;
}
.banner-sale {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    text-transform: uppercase;
    padding: 5px 19px 5px 17px;
    background-color: #F37335;
    border-radius: 14px;
}
.banner-percent{
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 900;
    font-size: 60px;
    line-height: 76px;
    color: #FFFFFF;
    margin: 7px 0 9px;
}
.banner-text {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 0 35px;
}
.banner-link {
    text-decoration: none;
    text-transform: uppercase;
    color: #1E2F40;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    background-color: #FBB731;
    padding: 18px 23px;
    border-radius: 5px;
    border: 1px solid #FBB731;
    transition: 0.5s;
}
.banner-link:hover {
    background-color: transparent;
    color: #FBB731;
}
.menu-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 62px 0 -2px;
}
/*--------------------main menu--------------------*/
.menu-title {
    color: #1B2A49;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
    margin: 0 0 36.52px;
    padding-top: 36.52px;
}
.menu-select {
    border: 1px solid #DEDEDE;
    padding: 13px 26px;
    color: #443737;
    border-radius: 22px;
    background-color: #FFFFFF;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 16px;
    /* Make chevron-down invisible */
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    flex-basis: 279px;
    background-image: url(../images/chevron-down.svg);
    background-repeat: no-repeat;
    background-size: 12.79px 7.75px;
    background-position: 89% center;
}

.menu-grid-item {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 30px;
}

.menu-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.menu-grid-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}

.menu-grid-cover img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
    width: 100%;
    height: 430px;
}

.menu-grid-title {
    color: #1B2A49;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 38px;
    padding: 0;
    margin: 20px 0 0 0;
}

.menu-grid-price {
    color: #979797;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 28px;
    margin: 5px 0 0;
}

.menu-grid-btn {
    background-color: #FBB731;
    border: none;
    padding: 8px 36px 8px 28px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    margin: 20px 0 0;
    transition: 0.5s;
}
.menu-grid-btn:hover {
    background-color: #F37335;
    cursor: pointer;
}
.menu-grid-icon img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}

.menu-grid-text {
    text-transform: uppercase;
    color: #1E2F40;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
}

/*--------------------additional---------------------*/
.menu-additional-title {
    color: #1B2A49;
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 44px;
    line-height: 56px;
    text-transform: uppercase;
    margin: 70px 0 35px;
}
/* styles for scrolling additional menu */
/*
.menu-additional .container {
    overflow-x: scroll;
    overflow-y: hidden;
    padding: 0;
}
.menu-additional .menu-grid {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
}
.menu-additional .menu-grid-item {
    flex-basis: 380px;
    flex-shrink: 0;
    flex-grow: 0;
}
.menu-additional-title {
    position: -webkit-sticky;
    position: sticky;
    left: 0;
}
*/

/* ------------- footer ------------ */
.footer {
    background: #1E2F40;
    padding: 112px 0 50px;
    margin-top: 110px;
}
.footer-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.footer-logo {
    width: 63px;
    height: 56px;
    margin-top: 5px;
}
.footer-list {
    padding: 0;
    list-style: none;
    margin: 0;
}
footer h2 {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    text-transform: uppercase;
    margin: 0;
    color: #FFFFFF;
}
.footer-links ul,
.footer-inform ul {
    margin-top: 7px;
}
.footer-links li,
.footer-inform span {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 32px;
    color: #DEDEDE;
    display: block;
} 
.footer-inform li {
    color: #FAF9F9;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 24px;
}
.footer-links a {
    text-decoration: none; 
    color: #DEDEDE;
    transition: 0.5s;
}
.footer-links a:hover {
    color: #FBB731;
}
.footer-tel a {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 38px;
    color: #FBB731;
    text-decoration: none;
    transition: 0.5s;
}
.footer-tel a:hover {
    color: #FFFFFF;
}
/* --------------- button Up -------------*/
.button-up {
    background-color: #FBB731;
    color: #1E2F40;
    font-weight: 700;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 20px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    border-radius: 3px;
    transition: 0.5s;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    opacity: 1;
}
.button-up:hover {
    background-color: #F37335;
}

/*---------------style index---------------*/

.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    overflow: hidden;
    padding: 0 20px;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 88px;
    padding-bottom: 170px;
}
h1.content-title {
    font-family: 'Nunito Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 120px;
    line-height: 140px;
    text-transform: uppercase;
    color: #FAF9F9;
    margin-top: 80px;
    margin-bottom: 36px;
}
h1.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content-text {
    font-family: 'Open Sans';
    font-size: 19px;
    line-height: 1.4;
    margin-top: 35px;
    margin-bottom: 48px;
}
.content-link {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 20px 47px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 76px;
}
.promo-left,
.promo-right {
    flex: 0 0 49%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/Banner1.png);
    padding: 116px 50px;
}
.promo-right {
    background-image: url(../images/Banner2.png);
    padding: 102px 50px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin: 0 0 3px;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin: 0 0 8px;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 20px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin: 0 0 10px;
}
.content-link:hover {
    background-color: #F37335;
    color: #DEDEDE;
    transition: 0.5s;
}

/*----------------modal window-----------------*/
.burger {
    width: 34px;
    height: 22px;
    background-image: url(../images/menu-burger.svg);
    background-color: transparent;
    border: none;
    cursor: pointer;
    background-repeat: no-repeat;
    background-size: contain;
}
.modal {
    background-color: #FFF8DC;
    max-width: 500px;
    position: absolute;
    top: -400px;
    /* ставим по центру */
    left: 0;
    right: 0;
    margin: 20px auto 0;
    padding: 38px 0px;
    box-sizing: border-box;
    transition: 0.5s;
}
.modal .header-nav {
    flex-direction: column;
    align-items: center;
    gap: 19px;
    margin: 0;
    transition: 0.5s;
}
.burger-close {
    width: 22px;
    height: 22px;
    background-image: url(../images/modal-close.svg);
    background-color: transparent;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


/*-----------responsive menu---------------*/
@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .header-logo {
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav {
        gap: 22px;
    }
    .header-item {
        flex-basis: 82%;
    }
    .bg {
        margin-bottom: 72px;
    }
    .menu-header {
        margin: 43px 0 -2px;
    }
    .banner-text {
        margin: 0 0 37px;
    }
    .banner-box {
        background-position: -80px center;
        padding: 100px 40px 120px;
        background-size: cover;
        box-sizing: border-box;
        width: 100%;
        height: 100%;
    }
    .menu-header {
        margin: 43px 0 -3px;
      }
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
    }
    .menu-additional-title {
        margin: 59px 0 35px;
    }
    .footer {
        padding-top: 60px;
        margin-top: 117px;
    }
    .footer-container {
        display: grid;
        grid-template-columns: 18% 42% 39%;
    }
    .footer-tel {
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        margin-top: 2px;
    }
    .footer-links li, 
    .footer-inform span {
        line-height: 34px;
    }
    /* hide scroll */
    .menu-additional {
        overflow: hidden;
        height: 641px;
    }
    .menu-additional .menu-grid-cover {
        height: 320px;
    }
    .menu-additional img {
        height: 100%;
    }
    .menu-additional .menu-grid {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 12px;
        width: auto;
    }
    .menu-additional .menu-grid-item {
        flex-basis: 275px;
        flex-shrink: 0;
        flex-grow: 0;
    }
    .menu-additional-title {
        position: -webkit-sticky;
        position: sticky;
        left: 0;
    }
    .menu-additional .container {
        overflow-x: scroll;
        overflow-y: hidden;
        padding: 0;
    }
}

@media (min-width: 766px) {
    .header-burger {
        display: none;
    }
}
@media (max-width: 765px) {
    nav {
        display: none;
    }
    .header {
        gap: 21px;
    }
    .bg {
        padding: 145px 0 140px;
    }
}
@media (max-width: 567px) {
    .title-menu {
        font-weight: 700;
        font-size: 38px;
    }
    .breadcrumbs {
        font-size: 14px;
    }
    .description {
        font-size: 12px;
    }
    .bg {
        padding: 55px 0;
    }
    .banner-box {
        padding: 35px 24px 54px;
        background-position: 17% center;
    }
    /*----------from320-------------*/
    .menu-grid-cover {
        height: 300px;
    }
    .menu-grid-title {
        font-size: 18px;
    }
    .menu-additional {
        overflow: hidden;
        height: 550px;
        padding-left: 15px;
    }
    .menu-additional .menu-grid-cover {
        height: 180px;
    }
    .menu-additional .menu-grid {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
        width: auto;
    }
    .menu-additional .menu-grid-item {
        flex-basis: 200px;
        flex-shrink: 0;
        flex-grow: 0;
        height: 380px;
    }
    .footer {
        margin-top: 55px;
        padding-top: 56px;
        padding-bottom: 50px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
        position: relative;
    }
    .footer-links {
        margin-top: 40px;
    }
    .footer-inform {
        margin-top: 26px;
    }
    .footer-tel {
        position: absolute;
        top: 0;
        right: 20px; 
    }
    .modal {
        max-width: 300px;
    }
}

@media (max-width: 500px) {
    .menu-additional {
        overflow: hidden;
        height: 550px;
        padding-left: 15px;
    }
    .menu-additional .menu-grid-cover {
        height: 240px;
    }
    .menu-additional .menu-grid-item {
        flex-basis: 180px;
        flex-shrink: 0;
        flex-grow: 0;
    }
}

@media (max-width: 460px) {
    .banner-box {
        padding: 35px 24px 54px;
        background-position: 25% center;
    }
    .header-logo {
        width: 116px;
        height: 37px;
        background-size: contain;
    }
    .header {
        padding-bottom: 20px;
    }
    .title-menu {
        margin-top: 27px;
        margin-bottom: 12px;
    }
    .description {
        max-width: 280px;
    }
    .bg {
        padding-bottom: 60px;
        margin-bottom: 32px;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url(../images/BG-SE.jpg);
    }
    .banner-box {
        padding-left: 15px;
        padding-right: 30px;
        background-position: 20% center;
    }
    .banner-text {
        margin: 0 0 35px;
      }
    .banner-link {
        padding: 18px 25px;
    }
    .menu-header {
        margin: 52px 0 22px;
        gap: 26px;
    }
    .menu-header h2 {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 56px;
        color: #1B2A49;
        margin-bottom: 0;
        padding-top: 0;
    }
    .menu-select {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 24px;
        color: #443737;
        padding: 7px 12px;
    }
    .menu-grid {
        gap: 10px;
    }
    .menu-grid-item {
        flex: 0 0 139px;
        height: 280px;
        margin-bottom: 14px;
    }
    .menu-grid-cover,
    .menu-grid-cover img {
        height: 180px;
    }
    .menu-grid-title {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 13px;
        line-height: 20px;
        color: #1B2A49;
        margin-top: 8px;
    }
    .menu-grid-price {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 28px;
        color: #979797;
        margin-top: 0;
    }
    .menu-grid-btn {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 14px;
        line-height: 18px;
        color: #1E2F40;
        margin-top: 7px;
        padding: 8px 25px 8px 19px;
    }
    .menu-additional-title {
        font-family: 'Nunito Sans';
        font-style: normal;
        font-weight: 700;
        font-size: 27px;
        line-height: 56px;
        color: #1B2A49;
        margin-top: 33px;
        margin-bottom: 25px;
    }
    .menu-additional {
        overflow: hidden;
        height: 400px;
        padding-left: 15px;
    }
    .menu-additional .menu-grid-cover {
        height: 180px;
    }
    .menu-additional .menu-grid {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        gap: 5px;
        width: auto;
    }
    .menu-additional .menu-grid-item {
        flex-basis: 140px;
    }
    .footer {
        margin-top: 55px;
        padding-top: 56px;
        padding-bottom: 50px;
    }
    .footer-container {
        display: flex;
        flex-direction: column;
    }
    .footer-links {
        margin-top: 40px;
    }
    .footer-inform {
        margin-top: 26px;
    }
    .footer-tel {
        position: absolute;
        top: 0;
        right: 20px;
    }
    .modal {
        max-width: 300px;
    }
}
@media (max-width: 319px) {
    .header {
        gap: 0;
    }
    .header-logo {
        background-image: none;
    }
    .header-item {
        flex-basis: 30%;
      }
    .title-menu {
        margin-top: 27px;
        margin-bottom: 18px;
        font-size: 32px;
    }
    .description {
        font-size: 9px;
    }
    .banner-percent {
        font-size: 42px;
    }
    .banner-text {
        font-size: 12px;
    }
    .banner-box {
        background-position: 30% center;
    }
    .banner-link {
        padding: 14px 19px;
        font-size: 10px;
    }
    .menu-header h2 {
        font-size: 18px;
    }
    .menu-select {
        padding: 3px 7px;
        font-size: 10px;
    }
    .menu-header {
        margin: 30px 0 12px;
        gap: 16px;
      }
    .menu-grid-title {
        font-size: 10px;
        margin-top: 8px;
    }
    .menu-grid-price {
        font-size: 12px;
        line-height: 18px;
    }
    .menu-grid-btn {
        margin-top: 7px;
        padding: 5px 10px 5px 5px;
    }
    .menu-grid-text {
        font-size: 10px;
        line-height: 8px;
    }
    .menu-grid-item {
        flex: 0 0 100px;
        margin-bottom: 10px;
        height: 100%;
    }
    .container {
        padding: 0 8px;
    }
    .menu-grid {
        gap: 5px;
    }
    .menu-grid-cover {
        height: 140px;
        width: 100%;
    }
    .menu-additional-title {
        font-size: 18px;
        margin-top: 15px;
        margin-bottom: 0px;
    }
    .footer-tel {
        position: absolute;
        top: 0;
        right: 20px;
    }
    .footer-tel a {
        font-size: 14px;
        line-height: 30px;
    }
}
