@media (max-width: 1100px) {
    .main img {
        width: 650px;
        position: absolute;
        right: -83px;
        top: -12px;
    }
    .content {
        padding: 0 0 56px
    }
    h1.content-title {
        font-size: 100px;
        line-height: 115px;
    }
    .content-text {
        margin: 0 0 40px;
    }
    .promo {
        padding: 130px 0 25px;
    }
    .wrapper {
        overflow: hidden;
    }
}

@media (max-width: 760px) {
    .main img {
        width: 520px;
        position: absolute;
        right: 20px;
        top: 40px;
    }
    .content {
        flex-basis: 500px;
    }
    h1.content-title {
        font-size: 91px;
        line-height: 94px;
        margin-top: 30px;
    }
    .content-title span {
        font-size: 21px;
    }
    .content-text {
        margin: 0 0 40px;
    }
    .content-text {
        font-size: 17px;
        display: block;
        width: 80%;
    }
    .promo {
        padding-bottom: 0;
    }
    .promo-left, .promo-right {
        padding: 70px 20px;
    }
    .free {
        font-size: 36px;
    }
    .promo-description {
        font-size: 13px;
        line-height: 18px;
    }
    .content-link {
        padding: 15px 30px;
    }
    .cost {
        font-size: 48px;
    }
}

@media (max-width: 600px) {
    .main img {
        width: 420px;
        position: absolute;
        right: 80px;
        top: -40px;
    }
    .content {
        flex-basis: 350px;
        padding-bottom: 30px;
    }
    h1.content-title {
        font-size: 64px;
        line-height: 75px;
        margin: 15px 0 20px;
    }
    h1.content-title span {
        font-size: 18px;
    }
    .content-text {
        font-size: 12px;
        display: block;
        width: 85%;
        margin-bottom: 20px;
    }
    .promo {
        padding-top: 100px;
    }
    .promo-left, .promo-right {
        padding: 100px 50px;
    }
    .free {
        font-size: 46px;
    }
    .promo-right .promo-description {
        margin: 30px 0;
    }
    .promo-description {
        font-size: 18px;
        line-height: 24px;
    }
    .cost {
        font-size: 58px;
    }
    .promo .wrapper {
        flex-direction: column;
        gap: 20px
    }
}

@media(max-width: 440px) {
    .main img {
        width: 380px;
        position: absolute;
        right: 120px;
        top: -40px;
    }
    .content {
        flex-basis: 250px;
        padding-bottom: 30px;
    }

    h1.content-title {
        font-size: 44px;
        line-height: 50px;
        margin: 15px 0 10px;
    }
    h1.content-title span {
        font-size: 14px;
    }
    .content-text {
        font-size: 12px;
        display: block;
        width: 85%;
        margin-bottom: 20px;
    }
    .promo .wrapper {
        flex-direction: column;
        gap: 20px
    }
    .promo-left, .promo-right {
        padding: 40px 30px;
    }
    .free {
        font-size: 35px;
    }
    .promo-description {
        font-size: 13px;
        line-height: 18px;
    }
    .cost {
        font-size: 38px;
    }
    .promo-right .content-link {
        padding: 10px 15px;
    }
}

@media(max-width: 300px) {
    .promo-left, .promo-right {
        padding: 40px 15px;
    }
    .promo {
        padding-top: 50px;
    }
    .main img {
        width: 250px;
        position: absolute;
        right: 280px;
        top: 160px;
    }
    .content {
        flex-basis: 230px;
    }
}